// Header
$header-fixed-top-padding-y: 20;
$header-fixed-top-height: 48;

$header-fixed-brand-width: 34;
$header-fixed-brand-height: $header-fixed-top-height;



// Application form
$form-application-input-bg: #f4f8fc;
$form-application-input-color: #010101;
$form-application-input-placeholder-color: rgba(1, 1, 1, 0.5);
