
$box-shadow-normal:           0 rem(6) 1rem 0 rgba(48, 53, 62, 0.19);
$box-shadow-front-page-card:  0 rem(2) rem(46) 0 rgba(0, 0, 0, 0.09);
$box-shadow-search-card:      0 rem(4) rem(9) 0 rgba(0, 0, 0, 0.08);

$box-shadow-table:             $box-shadow-search-card;

$box-shadow-botton-x-lg-primary :   0 rem(4) rem(9) 0 rgba(0, 153, 204, 0.33);
$box-shadow-botton-x-lg-pink :      0 rem(4) rem(9) 0 rgba(246, 89, 161, 0.33);
