@font-face {
    font-family: 'Arial MT Bold';
    src: url($font_url+'arial-mt-bold/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url($font_url+'arial-mt-bold/Arial-BoldMT.woff') format('woff'),
        url($font_url+'arial-mt-bold/Arial-BoldMT.ttf') format('truetype'),
        url($font_url+'arial-mt-bold/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
