@font-face {
  font-family: 'icomoon';
  src:  url($font_url+'icomoon/icomoon.eot?5j2r6o');
  src:  url($font_url+'icomoon/icomoon.eot?5j2r6o#iefix') format('embedded-opentype'),
    url($font_url+'icomoon/icomoon.ttf?5j2r6o') format('truetype'),
    url($font_url+'icomoon/icomoon.woff?5j2r6o') format('woff'),
    url($font_url+'icomoon/icomoon.svg?5j2r6o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[class^="icon-"], button[class*=" icon-"]{
  border: none;
  background: transparent !important;
  font-size: $font-size-base;
  cursor: pointer;

  &:disabled{
    cursor: default;
  }
}

button[class^="icon-"].checked, button[class*=" icon-"].checked{
  background-color: $green !important;
  padding: $font-size-base / 2;
  font-size:  $font-size-base - ( $font-size-base / 4);
  color: $white;
  border-radius: $font-size-base / 4;
}
.icon-user-manuel:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e916";
}
.icon-close:before {
  content: "\e914";
}
.icon-edit:before {
  content: "\e915";
}
.icon-domain:before {
  content: "\e90d";
}
.icon-eye:before {
  content: "\e90e";
}
.icon-info:before {
  content: "\e90f";
}
.icon-password:before {
  content: "\e910";
}
.icon-trash:before {
  content: "\e911";
}
.icon-user:before {
  content: "\e912";
}
.icon-warning:before {
  content: "\e913";
}
.icon-download:before {
  content: "\e90b";
}
.icon-print:before {
  content: "\e90c";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-doc:before {
  content: "\e905";
}
.icon-doc-checked:before {
  content: "\e906";
}
.icon-grid-sort:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-logout:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
